.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  img {
    width: 42px;
    height: 42px;
    transition: transform 200ms ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }
}

@media (width>=800px) {
  .skillContainer {
    img {
      width: 64px;
      height: 64px;
    }
  }
}
